html, body 
{
margin: 0; 
height: 100%;
overflow: hidden;
}

.molecule
{
    scale: 0.02;
}

.bar
{
    /* background-color: #dededeaf; */
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 56px;
    color: #fff;
    cursor: pointer;
    display:flex;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;

    font-size: 30px;
    font-weight: 400;
    outline: 0;
    padding: 20px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
  
    overflow: hidden;
    width: 80vw;
    height: 17vh;
 
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
   
}

.button
{
    display: flex; 
    justify-content: center;

    color: white;
    background-color: navy;

    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}


.layout
{
    overflow-x: hidden;
    overflow-y: hidden; 

    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: 120vh;
    /* width: ; */


    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
 
    /* width: 25vw;
    height: 35vh; */
    
}

.panel 
{
    overflow-x: hidden;
    overflow-y: hidden; 

    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    width: 70vw;
    height: 45vh;
}

.title
{
    font-size: 26px;
    width: 30vw;
    margin-top: 30px;
    transform: translate(2%, 5%);
    display: flex;
    justify-content: center;
}

.paragraph
{

    color: black;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;

    display: flex;
    justify-content: center;
    position: absolute;

    
    transform: translate(2%, 30%);
    width: 30vw;
    margin: 20px;
    padding: 5%;
    overflow-y: none;
    /* white-space: wrap; */
    overflow-x: hidden;
    overflow-y: hidden; 
}


